@font-face {
  font-family: 'Share Tech Mono';
  src: url('fonts/ShareTechMono-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/ShareTechMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ShareTechMono-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/ShareTechMono-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/ShareTechMono-Regular.svg#icomoon') format('svg'); /* Legacy iOS */
 font-weight: normal;
 font-style: normal;
 font-weight: 400;
 unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}