body {
	font-family: 'Share Tech Mono';
	background-color: #222;
	margin: 0;
	padding: 0;
}

nav {
	margin-top: 0px;
    padding: 15px;
	border-bottom: 1px;
	border-bottom-color: #444;
	border-bottom-style: dotted;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
	margin: 15px;
	color: white;
	text-decoration: none;
	vertical-align: middle;
	line-height: 1;
	
}

.nav-left {
    float: left;
}

.nav-left ul li {
    float: left;
}

.nav-right ul li {
    float: right;
}

#logo {
	font-size: 22px;
	text-decoration: none;
}