main {
	/*padding: 15%;*/
	/*padding-top: 2.1%;*/
	padding: 15vmin;
	padding-top: 2.1vmin;
}

.pricing{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 2.25vmin;
}



.price {
	/*display: inline-block;*/
	font-size: 3em;
	text-align: center;
	/*margin-bottom: auto;*/
	/*margin-top: 3vmin;*/
	left: -2em;
/*	border-bottom-color: white;
	border-bottom-width: 2px;
	border-bottom-style: dotted;*/
}
/*
.price::before {
	position: absolute;
	left: -1vmin;
	content: '$';
}*/

.pCard {
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;*/
	/*justify-content: center;*/
	/*color: #03A9F4;*/
	background-color: #333;
	border-radius: 15px;
	width: 40vmin;
	height: 55vmin;
	padding: 5px;
	margin: 5px;
	-webkit-box-shadow: 0px 0px 1.5px 0px rgba(28,22,28,0.75);
	-moz-box-shadow: 0px 0px 1.5px 0px rgba(28,22,28,0.75);
	box-shadow: 0px 0px 1.5px 0px rgba(28,22,28,0.75);
	/*min-width: 300px;*/
	/*min-height: 200px;*/
	transition: all 0.1s ease 0.1s;
	margin-bottom: 20vmin;

}

.pCard:hover {
	transition: all 0.1s ease 0.1s;
	-webkit-box-shadow: 0px 15px 15px 0px rgba(28,22,28,0.75);
	-moz-box-shadow: 0px 15px 15px 0px rgba(28,22,28,0.75);
	box-shadow: 0px 15px 15px 0px rgba(28,22,28,0.75);
}

#sCard {

	/*color: #03A9F4;*/
	/*background-color: #03A9F4;*/
}

.purchaseButton {
	/*align-self: flex-end;*/
	background-color: #333;
	align-self: center;
	width: 36vmin;
	margin-top: auto;
	margin-bottom: 2vmin;
	text-decoration: none;
	border: none;
	border-radius: 1vmin;
	color: white;
	/*margin-left: 2vmin;*/
	/*margin-right: 2vmin;*/
	/*width: 100%;*/
	/*transform:translateX(-50%);*/
	/*width: vmin;*/
	height: 5vmin;
	transition: all 0.1s ease 0.1s;
	color: #03A9F4;
	cursor: pointer;
	font-size: 2.5vmin;
}
/*
.pBut {
	background-color: #333;
}
*/
.purchaseButton:hover {
	transition: all 0.1s ease 0.1s;
	-webkit-box-shadow: 0px 0px 1.5px 0px rgba(28,22,28,0.75);
	-moz-box-shadow: 0px 0px 1.5px 0px rgba(28,22,28,0.75);
	box-shadow: 0px 0px 9px 0px rgba(28,22,28,0.75);
	background-color: #333;
}

/*.purchaseButton::after {
	position: relative;
	right: -8.5vmin;
	content: '❯';
	font-size: 0.75em;
	/*font-weight: 100;*/

.packageTitle {
	align-self: center;
	font-size: 1.5em;
}

.feature {
	align-self: center;
	color: white;
	/*font-weight: 500;*/
}

/*.regText {
	color: white;
}*/


.wLink {
	/*color: #333;*/
}

/* #7915F2 */

/*
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
*/
/*.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .top {
    min-width:200px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip:hover .top {
    display:block;
}

.tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}*/


/*.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip-content {
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 100px;
	margin-top: 2px;
	border-radius: 5px;
	padding: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.tooltip-content a {
	color: #0088a9;
	white-space: nowrap;
	padding: 5px;
	text-decoration: none;
	display: block;
}

.tooltip:hover .tooltip-content {
	display: block;
}*/



/* UGH, TODO: find better solution for this. I really dislike having to repeat CSS like this; */
label[for=element-toggle1] {
  cursor: pointer;
}
#element-toggle1 {
  display: none;
}

#toggled-element1 {
	display: none;
	position: absolute;
	background-color: #444;
	margin-top: 2px;
	border-radius: 5px;
	padding: 5px;
	padding-left: 3vmin;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

#element-toggle1:checked ~ #toggled-element1 {
  display: inline-block;
}

label[for=element-toggle2] {
  cursor: pointer;
}
#element-toggle2 {
  display: none;
}

#toggled-element2 {
	display: none;
	position: absolute;
	background-color: #444;
	margin-top: 2px;
	border-radius: 5px;
	padding: 5px;
	padding-left: 3vmin;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

#element-toggle2:checked ~ #toggled-element2 {
  display: inline-block;
}

label[for=element-toggle3] {
  cursor: pointer;
}
#element-toggle3 {
  display: none;
}

#toggled-element3 {
	display: none;
	position: absolute;
	background-color: #444;
	margin-top: 2px;
	border-radius: 5px;
	padding: 5px;
	padding-left: 3vmin;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

#element-toggle3:checked ~ #toggled-element3 {
  display: inline-block;
}