/*.dropdown {*/
/*	  font-family: dropdown;*/

/*	background-color: #222;*/
/*	border-width: 1px;*/
/*	border-color: #333;*/
/*	border-style: solid;*/
/*	-webkit-appearance: none;*/
/*	color: white;*/
/*	padding: 5px;*/
/*	border-radius: 0.28571429rem;*/
/*	border-width: 1px;*/
/*	border-color: white;*/
/*	width: 120px;*/
/*	height: 30px;*/
/*	height: 400px;*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	z-index: -1;*/
}

/*#select-wrapper {*/
/*	font-family: dropdown;*/
/*	content: '\e900';*/
/*	color: white;*/
/*	border-radius: 0.28571429rem;*/
/*	border-width: 1px;*/
/*	border-color: white;*/
/*	border-style: solid;*/
/*	width: 120px;*/
/*	height: 32px;*/
/*	z-index: 100;*/
}
/*#select-wrapper::after {*/
/*	font-family: dropdown;*/
/*	content: '\e900';*/
/*	color: white;*/
/*}*/
/*.dropdown {

}

.icon {
	right: 0px;
	left:100px;
	font-family: dropdown;
	content: '\e900';
	color: white;
	text-align: right;
}

.dropdown:hover {
	border-color: #888;
	  transition: all 0.1s ease 0s;

}

.dropdown::-ms-expand {
	display: none;
}
*/