@font-face {
  font-family: 'dropdown';
  src: url('fonts/icomoon.eot'); /* IE9 Compat Modes */
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/icomoon.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/icomoon.svg#icomoon') format('svg'); /* Legacy iOS */
 font-weight: normal;
 font-style: normal;
}

.hiddenInput {
	display: none;
}

#phoneNumber {
	/*display: none;*/
	color: #ccc;
	background-color: #222;
	border: none;
	font-size: 1.5em;
	/*-webkit-touch-callout: none;  iOS Safari 
	  -webkit-user-select: none;  Safari 
	   -khtml-user-select: none;  Konqueror HTML 
	     -moz-user-select: none;  Old versions of Firefox 
		  -ms-user-select: none;  Internet Explorer/Edge 
			  user-select: none;  Non-prefixed version, currently
								  supported by Chrome, Edge, Opera and Firefox */
}

#phoneNumber:focus {
	color: white;
}

.expandableTextArea {
	font-family: 'Share Tech Mono';
	padding: 2.5px;
	/*border: solid 2px #222;*/
	border-style: solid;
    border-width: 2px;
	border-color: #222;
	border-radius: 5px;
	width: 100%;
	min-height: 10em;
	resize: none;
	background-color: #3d3d3d;
	color: white;
}

#formSubmit {
	position: relative;
	left: 50%;
	transform:translateX(-50%);
}

.paddingDiv {
	padding:10px;
	padding-left: 0px;
}

.expandableTextArea:focus {
/*	outline-color: #0088a9;*/
/*
	outline-style: solid;
	outline-width: medium;
*/

	border-color: #0088a9;
/*	border: 2px solid #0088a9;*/
}



/* ==========REWORK========== */

/*	font-family: inherit;*/

button {
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow: visible;
	text-transform: none;
}

button:focus {
	outline:none !important;
}

button::-moz-focus-inner {
	border:0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}


.dropbtn {
/*  background-color: #3498DB;*/
  background-color: #333;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
/*  font-family: 'Share Tech Mono';*/
  outline:none !important;

/*	display: inline-block;*/
}

.dropbtn::after {
	font-family: dropdown !important;
	content: ' \e900';
}

.dropbtn:hover, .dropbtn:focus {
/*  background-color: #2980B9;*/
	background-color: #3d3d3d;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
/*  background-color: #f1f1f1;*/
  background-color: #3d3d3d;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
/*  color: black;*/
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.dropdown a:hover {
/*	background-color: #ddd;*/
	background-color: #333;
}

.show {display: block !important;}

/* ============================ */



/*#emailInput:focus {
	border-bottom: 2px solid #ccc;
}*/
/*
#emailInput {
	color: #ccc;
	background: */
	/*background-color: #222;*/
/*	border: none;
	border-bottom: 2px solid #777;
	font-size: 1.5em;*/
	/*-webkit-touch-callout: none;  iOS Safari 
	  -webkit-user-select: none;  Safari 
	   -khtml-user-select: none;  Konqueror HTML 
	     -moz-user-select: none;  Old versions of Firefox 
		  -ms-user-select: none;  Internet Explorer/Edge 
			  user-select: none;  Non-prefixed version, currently
								  supported by Chrome, Edge, Opera and Firefox */
/*	font-family: 'Share Tech Mono'*/
/*}*/

.input-sizer {
  display: inline-grid;
  /*display: none;*/
/*  vertical-align: top;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  border: solid 1px;
  padding: .25em .5em;
  margin: 5px;*/
}

.input-sizer::after,
.input-sizer input {
  width: auto;
  min-width: 1em;
  /*grid-area: 1 / 2;*/
  /*font: inherit;*/
  /*padding: 0.25em;*/
  /*margin: 0;*/
  resize: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  color: #ccc;
  font-size: 1.5em;
}
.input-sizer input {
	border-bottom: 2px solid #777;
}

.input-sizer input:focus {
	border-bottom: 2px solid white;
	color: white;
}


.input-sizer::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
  height: 0;
}

.hidePhone {
	display:none;
}

.hideEmail {
	display:none;
}